.main {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.main__search {
  margin-bottom: 3rem;
}

.main__repos {
  margin-bottom: 3rem;
}

.main__pagination {
  width: 100%;
  align-self: center;
}
